<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- vehicle %>

<div id="inv-reviews">
  <h2>Reviews</h2>
  <% if (locals.loggedin){ %>
  <a
    class="link"
    title="Click to add a review"
    href="/review/add/<%= locals.accountData.account_id %>/<%= locals.inv_id %>"
    >Add a review</a
  >
  <% } %> <%- reviews %>
</div>
